<!DOCTYPE html>
<html 	lang="ko"
	 	xmlns:th="http://www.thymeleaf.org"
	 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 	layout:decorate="~{layout/basic.html}">
	 	
	<head>
		<title>Pomodoro Timer | 김길웅 홈페이지</title>
		<script th:src="@{/js/HackTimer.min.js}"></script>
	</head>
	
	<body>
		<th:block layout:fragment="content">
			<div class="jumbotron text-center">
				<h1>
					뽀모도로 타이머<br/>
					<small>Pomodoro Timer</small>
				</h1>
				<br/><br/><br/>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title">선택된 과제</h2>
					</div>
					<div id="selected_work" class="panel-body">
						과제과제~!
					</div>
				</div>
				<h1>
					<strong id="timer">25:00</strong>
				</h1>
				<br/><br/>
				<button id="start_btn" type="button" class="btn btn-primary btn-lg">Start!</button>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<div class="pull-right">
								<button id="add_work_btn" type="button" class="btn btn-info btn-xs">추가 +</button>
							</div>
							<h2 class="panel-title">과제 목록</h2>
						</div>
						<ul id="work_ul" class="list-group">
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h2 class="panel-title">완료된 과제</h2>
						</div>
						<div class="panel-body">
							과제과제~!
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h2 class="panel-title">지난 뽀모들</h2>
						</div>
						<div class="panel-body">
							과제과제~!
						</div>
					</div>
				</div>
			</div>
		</th:block>
		
		<th:block layout:fragment="script">
			<script th:src="@{/js/pomodoro.js}"></script>
		</th:block>
	</body>
</html>