<!DOCTYPE html>
<html 	lang="ko" 
		xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org"
	 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	 	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/icon/favicon.ico">
		
		<title>My Layout Page</title>
		
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		
		<!-- Custom styles for this template -->
		<link th:href="@{/css/sticky-footer-navbar.css}" rel="stylesheet">
		
	</head>
	
	<body>
		<th:block th:replace="fragments/navbar :: main-navbar"></th:block>
		
		<div class="container">
			
			<th:block layout:fragment="content"></th:block>
			
			<th:block layout:fragment="paging"></th:block>		
		</div> <!-- /container -->
		
		<footer class="footer">
			<div class="container">
				<p class="text-muted">Place sticky footer content here.</p>
			</div>
		</footer>
	
	
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
		
		<!-- custom script fragment -->
		<th:block layout:fragment="script"></th:block>
	</body>
	
</html>